<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Racso editor</title>
    <link rel="stylesheet" href="index.css" />
    <meta http-equiv="Content-Security-Policy" content="script-src 'self';" />
  </head>
  <body>
  <div class="title-bar">
     <div class="file-name" id="file-name">Not selected</div>
     <button class="open-file" id="open-file-btn">open</button>
     <button class="create-file" id="create-file-btn">create</button>
     <button class="save-file" id="save-file-btn">save</button>
     <button class="close-file" id="close-file-btn">close</button>
     
  </div>
  <div class="tabs" id='tabs'>

     </div>
  <section>
    <textarea id="text-area" disabled></textarea>
  </section>
  </body>
</html>
